{% extends 'base.html' %}

{% block head%}
<title>Home</title>
{% endblock %}

{% block body %}
<br>
<h1>Home Page</h1>
<br>
<main role="main">
    <div class="jumbotron">
      <div class="col-sm-8 mx-auto">
        <h1>Welcome</h1>
        <p>Welcome to BlogSpot! A TECHNICAL BlogPost page where we will be talking about computer science and programming stuff.Basics,FrameWorks,new tech stuff or findings,machine learning and data science stuff and pretty much more...</p>
        <p>Hey there everyone! This is Umadevi.R , a passionate coder and developer.This is my first blog page built using Flask and Bootstrap.Also do checkout my <a href="https://github.com/Umadevi-R" target="_blank">Github Page</a></p>
        <p>
          <a class="btn btn-primary" href="/posts" role="button">View Posts &raquo;</a>
        </p>
      </div>
    </div>
</main>
{% endblock %}